* text=auto

# Unity text assets
*.cs text eol=lf
*.shader text eol=lf
*.hlsl text eol=lf
*.cginc text eol=lf
*.json text eol=lf
*.asmdef text eol=lf
*.inputactions text eol=lf

*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.controller text eol=lf
*.anim text eol=lf
*.overrideController text eol=lf
*.playable text eol=lf
*.scenetemplate text eol=lf

*.txt text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tga binary
*.psd binary
*.mp3 binary
*.wav binary
*.ogg binary
*.fbx binary
*.blend binary
*.dll binary
*.exe binary